* {
    font-family: 'Proxima Nova Soft';
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url("../fonts/proxima-nova-soft.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.outer_page_container {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.center {
    display: inline-block;
    text-align: center;
}

.left {
    float: left;
    width: 200px;
}

.right {
    float: right;
    overflow-wrap: break-word;
    width: 200px;
}

pre {
    white-space: pre-line;
}

fieldset {
    background-color: rgb(156, 241, 183);
    width: 500px;
    padding: 14px 16px 14px 16px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;	
    border-radius: 8px;
    border-width: 3px;
    border-color: darkturquoise;
    margin: 0 auto;
}

fieldset.invisible {
    background-color: transparent;
    max-width: 500px;
    padding: 13px;
    border: 0px;
    margin: 0 auto; 
    width:250px;
} 

form { 
    text-align: center
}

form#logs_button { 
    display: inline;
}

div#log {
    display: block;
    font-family: monospace;
    margin: 1em 0;
    font-size: 150%;
    word-wrap: break-word;
}

.hidden {
    display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 16px 16px;
    background-color: lightskyblue;
    color: white;
}
  
/* Modal Body */
.modal-body {
    padding: 16px 16px;
}

.modal-body-info-format {
    text-align: left;
}
  
/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}
  
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Add Animation */
@keyframes animateback {
    to {top: -300px; opacity: 0}
}

.button {
    background: rgb(221, 221, 221);
    width: auto;
    padding: 6px;
    border-radius: 3px;
    border-color: darkorange;
}

.button:hover {
    cursor: pointer;
}

.button#logs:hover {
    background-color: orange;
}

.button#reset:hover {
    background-color: rgb(159, 89, 224);
}

.button#start:hover {
    background-color: rgb(0, 255, 76);
}

.button#kill:hover {
    background-color: orangered;
}

button.info {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border-color: grey;
    border-width: thin;
    background-color: lightskyblue;
    color: white;
    font-size: 12px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin: auto;
}

button.info:focus,
button.info:hover {
    background-color: rgb(44, 44, 230);
}

input#script-new {
    width: 180px;
}

.grey {
    color: grey;
}

.hidden {
    display: none;
}
