[Unit]
Description=webf5pd
After=network.target

[Service]
Restart=always
RestartSec=20
User=nanojet
ExecStart=/nanopore/bin/webf5pd

[Install]
WantedBy=multi-user.target